@charset "utf-8";
/* CSS Document */
body header {
	background-color: #29177a;
	text-align: center;
	color: white;
	font-size: 200;
}

/*color de las iniciales*/
.logo span{
	color: white
}
/*Menu de Navegacion*/
.navbar{
	display: flex; justify-content: space-between;
	align-items: center; background-color: #190a5c;
	padding: 1rem 2rem; color:#F3F1F1;
}
.nav-list{
	display: flex; list-style: none;
}
.nav-list li a{
	color: #F5F4F4; text-decoration: none;
	padding: 0.5rem 1rem;
}
/*ocultar la barra del menu*/
.menu-bar{
	display: none; flex-direction: column;
	cursor: pointer; background: transparent;
	border: none;
}
.bar{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 4px 0px;
}
@media (max-width:768px){
	.menu-bar{display: flex; }
		
	.nav-list{
		display: none;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		background-color: #333232;
		text-align: center;
		z-index: 999;
	}
	.nav-list.active {display: flex !important}
	.nav-list li{padding: 1rem 0;}
	
}
.dropdown{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: white;
    min-width: 220px;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.submenu li{
    border: 1px solid #ccc;
}

.submenu li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.submenu li a:hover{
    background: #f0f0f0;
}

.dropdown:hover .submenu{
    display: block;
}


/*seccion de texto*/
.contenedor-text{
	text-align: center;
	color: #0D48C0;
}
.Contenedor{
	 width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}



/*carrusel*/
.carrusel-container{
	position: relative; overflow: hidden; height: 500px; background: #E5E1E1; margin-top: 10px;
}
.carrusel-slide img{
	width: 100%; height: 300%; object-fit: cover; display: none; image-resolution: auto;
}
.carrusel-slide img.active{
	display: block;
}
.next{
	right: 0;
}
.prev, .next{
	position: absolute; top:50;
	transform: translateY(-50%);
	background: rgba(0,0,0,0.5);
	color: white; border: none; padding: 20px; cursor: pointer;
}

/*pie de pagina*/
.footer{
    display: grid;
    grid-template-columns: 25% 30% 55%;
    gap: 20px;
    padding: 30px;
    border-top: 2px solid #ccc;
    background: #190a5c;
    text-align: center;
    align-items: start;
}
/*Contacto*/
.contacto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
	
}

.contacto label{
    width: 120px;
    font-weight: bold;
	color: #f0f0f0;
}

.contacto input{
    width: 110px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
}

.whatsapp{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.columna h3{
    margin-bottom: 15px;
    font-size: 22px;
    color: white;
}

.caja{
    color: transparent;
}


.logo{
    width:100px;
    height: auto;
}

.centro iframe{
	color: #f0f0f0;
    border-radius: 10px;
	width: 500px;
	height: 250px;
}


.copyright{
    margin-top: 15px;
    font-size: 14px;
    color: rgb(243, 241, 241);
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px){
    .footer{
        grid-template-columns: 33%;
    }
}